*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.metals
/.vscode
/.bloop
/target
/project/.bloop
project/target


# Ignore sbt/Scala Build Artifacts
target/
project/project
project/target/
project/project/target/
project/.bloop/
**/target/

/.bsp

.DS_Store

/venv
**/venv
/interactiveResults
/realworldbenchmarks/results


# Ignore everything in synthetic-data directory
synthetic-data/*

# But keep these specific files
!synthetic-data/dense_vector_10.csv
!synthetic-data/dense_vector_100.csv
!synthetic-data/dense_vector_1000.csv
!synthetic-data/sparse_matrix_10x10.csv
!synthetic-data/sparse_matrix_100x100.csv
!synthetic-data/sparse_vector_10.csv
!synthetic-data/sparse_vector_100.csv
!synthetic-data/sparse_vector_1000.csv
!synthetic-data/sparse_vector_10000.csv

output/*